.toaster {
    position: fixed;
    z-index: 1080;
    max-height: calc(100% - 20px);
    overflow: auto;

    width: 30%;
    top: 10px;
    right: 10px;
}

.toaster div {
    margin-bottom: 10px;
    padding: 20px;
    opacity: 0.8;
}

.toaster div:last-child {
    margin-bottom: 0px;
}

.toaster div.neutral {
    color: #000000;
    background-color: #ffffff;
    border: solid 1px #dedede;
}

.toaster div.error {
    color: #ffffff;
    background-color: #880000;
}

.toaster div.warning {
    color: #ffffff;
    background-color: #c67605;
}

.toaster div.info {
    color: #ffffff;
    background-color: #105cb6;
}

.toaster div.success {
    color: #ffffff;
    background-color: #449d44;
}

.toaster div span.close {

    position: relative;
    top: -10px;
    right: -15px;

    width: 16px;
    height: 16px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3woCDgsCyGFBnQAAAKhJREFUKM99krEOwjAMRK+wtTNS1T3fkCGfyNYPYuYXWCKmIjb+4LHYlVNQLEWOdCf77hIBkiTgbF1eARsaDBiBFSgOBPICXIFpn2xkgDeQw4YZeBi2ugoBxcgALyABF+AeBpWjzmxkgCdws/vmW6MH78nIXhVIkXNSWx9JVb0K0+egudpxTz+SlpDGZtJS8NSYHiznf7HmkF4T69R5uGLYePTQ+xo79gVFD0qIE78rAAAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
}

.toaster div.neutral span.close {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3woCDhcWNMzIvQAAAJpJREFUKM+NkjsOgzAQRB9JB3UkRO8zuPAR0/lAqbkCDaIKSscNTDMhi2MQI61k7Yz3Mzb8cOcYVZ6ogQiEgrgDnkBjK0cgAR/AG3ELDOKinSJInIAZcMAD6E2hv+5e4gRMwEvnd9Z1BydxUozKbbhlFxaJLqE1M4+K706+ZN1gZnaKubR0JZ9Ltnrj3s7W5uThgrg6J86+xsat4ygrmXhnuuQAAAAASUVORK5CYII=');
}